<div class="wrapper">
    <div class="col-16">
        <div class="card">
            <div class="card-header text-center font-weight-bold">
              {{description}}
            </div>
            <div class="card-body">
                <h6 class="card-title font-weight-bold">Starts</h6>
                <p class="card-text">{{ start }}</p>
                <h6 class="card-title font-weight-bold">Ends</h6>
                <p class="card-text">{{ end }}</p>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <button type="button" class="btn btn-info ml-3" (click)='handleEditClick()'>Edit</button>
                    <button type="button" class="btn btn-info mx-3" (click)="delete()">Delete</button>
                    <button type="button" class="btn btn-info float-right mr-3" routerLink="/events">Go Back</button>
                </div>
            </div>
          </div>
    </div>
</div>
